{% extends "layout.html" %}


{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
      <div class="container wow fadeIn">
      {% if session.cart|count > 0 %}
          <!-- Heading -->
          <h2 class="my-5 h2 text-center">Checkout form</h2>

          <!--Grid row-->
          <div class="row">

              <!--Grid column-->
              <div class="col-md-8 mb-4">

                  <!--Card-->
                  <div class="card">

                      <!--Card content-->
                      <form class="card-body" action="/place-order" method="post">

                          <!--Grid row-->
                          <div class="row">

                              <!--Grid column-->
                              <div class="col-md-6 mb-2">

                                  <!--firstName-->
                                  <div class="md-form ">
                                      <input type="text" id="firstName" name="firstName" value="{{ session.user.firstName }}" class="form-control">
                                      <label for="firstName" class="">First name</label>
                                  </div>

                              </div>
                              <!--Grid column-->

                              <!--Grid column-->
                              <div class="col-md-6 mb-2">

                                  <!--lastName-->
                                  <div class="md-form">
                                      <input type="text" id="lastName" name="lastName" value="{{ session.user.lastName }}" class="form-control">
                                      <label for="lastName" class="">Last name</label>
                                  </div>

                              </div>
                              <!--Grid column-->

                          </div>
                          <!--Grid row-->

                          <!--Username-->
                          <div class="md-form input-group pl-0 mb-5">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">@</span>
                              </div>
                              <input type="text" name="username" value="{{ session.user.username }}" class="form-control py-0" placeholder="Username" aria-describedby="basic-addon1">
                          </div>

                          <!--email-->
                          <div class="md-form mb-5">
                              <input name="email" type="text" id="email" value="{{ session.user.email }}" class="form-control" placeholder="youremail@example.com">
                              <label for="email" class="">Email (optional)</label>
                          </div>

                          <!--address-->
                          <div class="md-form mb-5">
                              <input type="text" id="address" class="form-control" placeholder="1234 Main St">
                              <label for="address" class="">Address</label>
                          </div>

                          <!--Grid row-->
                          <div class="row">

                              <!--Grid column-->
                              <div class="col-lg-4 col-md-6 mb-4">

                                  <label for="zip">Zip</label>
                                  <input type="text" class="form-control" id="zip" placeholder="" required>
                                  <div class="invalid-feedback">
                                      Zip code required.
                                  </div>

                              </div>
                              <!--Grid column-->

                          </div>
                          <!--Grid row-->
                          <button class="btn btn-primary btn-lg btn-block" type="submit">Buy</button>

                      </form>

                  </div>
                  <!--/.Card-->

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 mb-4">

                  <!-- Heading -->
                  <h4 class="d-flex justify-content-between align-items-center mb-3">
                      <span class="text-muted">Your cart</span>
                      <span class="badge badge-secondary badge-pill">{{products|count}} item(s)</span>
                  </h4>

                  <!-- Cart -->
                  <ul class="list-group mb-3 z-depth-1">
                      {% for p in products %}
                      <li class="list-group-item d-flex justify-content-between lh-condensed">
                          <div>
                              <h6 class="my-0">{{p.name}}</h6>
                              <small class="text-muted">Quantity ({{ p.quantity }})</small>
                          </div>
                          <span class="text-muted">${{ p.price }}</span>
                          <span><a href="/remove-cart?productId={{p.id}}">X</a></span>
                      </li>
                      {% endfor %}

                      <li class="list-group-item d-flex justify-content-between">
                          <span>Total (USD)</span>
                          <strong>${{ totalPrice }}</strong>
                      </li>
                  </ul>
                  <!-- Cart -->

              </div>
              <!--Grid column-->

          </div>
          <!--Grid row-->


      {% else %}
          <br>
      <div class="alert alert-info text-center">Your cart is empty!</div>
      {% endif %}
      </div>
  </main>
  <!--Main layout-->
{% endblock %}