{% extends "layout.html" %}


{% block content %}

<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <article class="card-body mx-auto" >
            <br><br>
            <h4 class="card-title mt-3 text-center">Create Product</h4>
            <form action="/admin/products" enctype="multipart/form-data" method="POST">
                <div class="form-group input-group">
                    <input name="name" required class="form-control" placeholder="Name"  type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <input name="price" required class="form-control" placeholder="Price"  type="number">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <textarea class="form-control" name="description" placeholder="Description"> </textarea>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <select name="categoryId" class="form-control">
                       {% for c in categories %}
                        <option value="{{c.id}}">{{c.name}}</option>
                        {% endfor %}
                    </select>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <label for="image">Uplaod a picture:</label>
                    <input type="file" name="file" id="image">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Add  </button>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div>

</div>
{% endblock %}