{% extends "layout.html" %}

{% block additional-style %}

{% style "/css/home-page.css" %}

{% endblock %}

{% block content %}
<style>
    .card {
        min-height: 350px;
    }
</style>
<br><br><br>
      <!--Main layout-->
  <main>
    <div class="container">

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            {% for cat in categories %}
              <li class="nav-item">
                  <a class="nav-link" href="/?categoryId={{ cat.id }}"> {{ cat.name }}
                   <!--  <span class="sr-only">(current)</span> - za selektovanu kategoriju-->
                  </a>
                </li>
            {% endfor%}
          </ul>
          <!-- Links -->

          <form class="form-inline" method="GET" action="/">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          

          {% if products|count %}

            {% for p in products %}
                <div class="col-lg-3 col-md-6 mb-4" height="200">
                <!--Card-->
                <div class="card" >

                    <!--Card image-->
                    <div class="view overlay item">
                        <img height="180" src="img/{{p.image}}" class="card-img-top"
                             alt="">
                        <a href="/products?productId={{ p.id }}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="?categoryId={{p.categoryid}}" class="grey-text">
                            <h5>{{ p.categoryname }}</h5>
                        </a>
                        <h5>
                            <strong>
                                <a href="/products?productId={{ p.id }}" class="dark-grey-text lead" style="font-size: 15px">{{ p.name }}
                                    {% if p.isnew = 1 %}
                                    <span class="badge badge-pill danger-color" style="font-size: 10px">NEW</span>
                                    {% endif %}

                                    {% if p.isbestseller = 1 %}
                                    <span class="badge badge-pill info-color" style="font-size: 10px">BESTSELLER</span>
                                    {% endif %}
                                </a>
                            </strong>
                        </h5>
                        <strong style="font-size: 15px">{{p.price}}$</strong>

                    </div>
                    <!--Card content-->

                </div></div>
            <!--Card-->
            {% endfor %}

            {% else %}
                <p>This category is empty.</p>
          {% endif %}

          </div>
          <!--Fourth column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->


    </div>
  </main>
  <!--Main layout-->
{% endblock %}
