{% extends "layout.html" %}

{% block additional-style %}

{% style "/css/home-page.css" %}

{% endblock %}

{% block content %}
<br></br></br></br>

<div class="container">
       {% include "/shared/errors.html" %}
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Login</h4>
	<form action="/login" method="post">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="username" class="form-control" placeholder="Username"  type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="password" class="form-control" placeholder="Password" type="password">
    </div> <!-- form-group// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
    </div> <!-- form-group// -->
    <p class="text-center">Don't have an account? <a href="/register">Register</a> </p>
</form>
</article>
</div> <!-- card.// -->

</div>
</div>
{% endblock %}
