{% extends "layout.html" %}

{% block additional-style %}

{% style "/css/home-page.css" %}

{% endblock %}

{% block content %}
<br></br></br></br>

<div class="container">
       {% include "/shared/errors.html" %}
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create An Account</h4>
	<form action="/register" method="post">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="firstName" value="{{attempted.firstName}}" class="form-control" placeholder="First Name"  type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="lastName" value="{{attempted.lastName}}" class="form-control" placeholder="Last Name" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" value="{{attempted.email}}" class="form-control" placeholder="Email address" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="username" value="{{attempted.username}}" class="form-control" placeholder="Username" type="text">
    </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="address" value="{{attempted.address}}" class="form-control" placeholder="Address" type="text">
        </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="password" value="{{attempted.password}}" class="form-control" placeholder="Password" type="password">
    </div> <!-- form-group// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// -->
    <p class="text-center">Have an account? <a href="/login">Log In</a> </p>
</form>
</article>
</div> <!-- card.// -->

</div>
</div>
{% endblock %}
