{% extends "layout.html" %}


{% block content %}
<br><br><br>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <article class="card-body mx-auto" >
            <br><br>
            <h4 class="card-title mt-3 text-center">Update Product</h4>
            <form action="/admin/products/update/{{product.id}}" method="post" enctype="multipart/form-data">
                <div class="form-group input-group">
                    <input name="name" value="{{product.name}}" required class="form-control" placeholder="Name"  type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <input name="price" required class="form-control" value="{{product.price}}" placeholder="Price"  type="number">
                    <input type="hidden" name="id" value="{{product.id}}">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <textarea class="form-control" name="description" placeholder="Description"> {{product.description}} </textarea>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <select name="categoryId" class="form-control">
                        {% for c in categories %}
                            {% if c.id = product.categoryid %}
                                 <option selected value="{{c.id}}">{{c.name}}</option>
                            {% else %}
                                <option value="{{c.id}}">{{c.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <label for="image">Uplaod new picture:</label>
                    <input type="file" name="file" id="image">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <label for="">Current picture:</label>
                    <img class="img-thumbnail img-fluid" src="../../../img/{{product.image}}" alt="">
                    <input type="hidden" name="image" value="{{product.image}}">
                </div> <!-- form-group// -->
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" {% if product.isnew = 1 %} checked="checked" {% endif %}  name="isNew" id="isNew">
                    <label class="form-check-label" for="isNew">Mark as new</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" {% if product.isbestseller = 1 %} checked="checked" {% endif %}  name="isBestSeller" id="isBestSeller">
                    <label class="form-check-label" for="isBestSeller">Mark as featured</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Add  </button>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div>

</div>
{% endblock %}